body {
    width: 400px;
    border: solid 1px;
    background: #f2f3f5;
}
.aceEditor {
    position: absolute;
    min-height: 100px;
    width: 100%;
}
.formClass {
    margin-left: 10px;
    margin-right: 10px;
}
.formLabel {
    text-align: center;
}
